.nav-bar {

    position: absolute;
    left: 50%;
    transform: translateX(-42%);
    top: 24px;
    width: 61%;


    .right-nav-bar {
        display: flex;
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(27, 45, 122) 70%);
        height: 35px;
        padding: 3px 4px 2px;
        border-radius: 2px;
        box-shadow: 0 0 4px black;

        li {
            display: inline;
            padding-right: 20px;
            padding-left: 3px;




            a {
                color: white;
                display: inline-block;

                margin-left: px;
                font-weight: 600;
                font-size: 13px;
                text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                font-family: Arial, Helvetica, sans-serif;
                line-height: 34px;


            }
        }

        .nav-bar-search {

            padding-top: 1px;
            margin-left: 120px;



            input {
                height: 36px;
                background-color: #316282;
                border-radius: 2px;
            }

            // input:hover {
            //     border: 1px solid #79d1d8;

            // }

            a {
                position: absolute;
                margin-left: 165px;

                img {
                    width: 29px;
                    height: 27px;

                }

            }

        }

    }

    .nav-bar-search:hover {

        border: 1px solid #79d1d8;

        a {
            background: #79d1d8;
        }
    }
}