* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

  .main-product-detail{
    background-color: #1b2838;
    padding-top: 30px;
    padding-bottom: 30px;

    .fix-navbar-position{
        padding-left: 162px;
    }

    .video-decription{
        display: flex;
        margin: 0 auto; 
        margin-top: 100px;
        justify-content:space-between;
        align-items: center;
        width: 940px;
        height: 410px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 120%);
        .game-video{
            width: 600px;
            height: 100%;
            background-color: white;
            .video{

            }
            .video-slider{
                height: 100%;
            }   
        }

        .decription{
            height: 100%;
            width: 324px;
            .game-img{
                background-color: black;
                width: 324px;
                height: 151px;
                margin-bottom: 7px;
            }
            
            .short-introduce{
                color: #c6d4df;
                margin-top: 5px;
                max-height: 121px;
                overflow: hidden;
                font-size: 14px;
                line-height: 18px;
                padding-right: 16px;
                font-family:  Arial, Helvetica, sans-serif;;
            }
            .user-review{
                display: flex;
                line-height: 16px;
                margin-top: 7px;
            }
            .all-reviews{
                display: flex;
                line-height: 16px;
            }
            .release-date{
                display: flex;
                line-height: 16px;
            }
            .developer{
                display: flex;
                line-height: 16px;
            }
            .publisher{
                display: flex;
                line-height: 16px;
            }

            .subtitle-collumn{
                color:#556772;
                font-size: 14px;
                min-width: 130px;
                padding-right:10px
            }
        }
       
    }
  }